
  #0{
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  #1{
    flex:1 0 140px;
  }
  #2 {
    flex:1 0 140px;
  }
  #3{
    flex:1 0 140px;
  }
 #4{
  flex:1 0 70px;
 }